html,
body {
	background-color: #f1f1f1 !important;
	overflow-x: "hidden" !important;
	height: "100" !important;
}

@media only screen and (max-width: 600px) {
	html {
		font-size: 13px !important;
	}
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}
